<div class="pt-20 p-6 space-y-8 min-h-screen">
  <!-- Dashboard Header -->
  <h1 class="text-2xl font-bold mb-8 text-center text-gray-800">
    Dashboard Overview
  </h1>

  <!-- Top Stats -->
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
    <div class="p-4 bg-white dark:bg-gray-800 rounded-xl shadow-md">
      <p class="text-gray-500 text-sm">Total Employees</p>
      <h2 class="text-xl font-semibold text-gray-800 dark:text-gray-100">{{employeeList.length || 0}}</h2>
    </div>
    <div class="p-4 bg-white dark:bg-gray-800 rounded-xl shadow-md">
      <p class="text-gray-500 text-sm">Departments</p>
      <h2 class="text-xl font-semibold text-gray-800 dark:text-gray-100">{{departmentList.length || 0}}</h2>
    </div>
    <div class="p-4 bg-white dark:bg-gray-800 rounded-xl shadow-md">
      <p class="text-gray-500 text-sm">Total Designation</p>
      <h2 class="text-xl font-semibold text-gray-800 dark:text-gray-100">{{designationList.length || 0}}</h2>
    </div>
    <div class="p-4 bg-white dark:bg-gray-800 rounded-xl shadow-md">
      <p class="text-gray-500 text-sm">Total Salary Paid</p>
      <h2 class="text-xl font-semibold text-gray-800 dark:text-gray-100">₹ {{totalSalaryPaid}}</h2>
    </div>
  </div>

  <!-- Graph Section -->
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
    <!-- Graph 1 -->
    <div class="p-4 bg-white dark:bg-gray-800 rounded-xl shadow-md">
      <h3 class="text-lg text-center font-semibold text-gray-700 dark:text-gray-200 mb-4">Employee by Department</h3>
      <div class="h-80 flex items-center justify-center pt-8">
        <canvas id="deptChart"></canvas>
      </div>
    </div>

    <!-- Graph 2 -->
      <div class="p-4 bg-white dark:bg-gray-800 rounded-xl shadow-md">
      <h3 class="text-lg text-center font-semibold text-gray-700 dark:text-gray-200 mb-4">Monthly Salary Distribution</h3>
      <div class="h-96 flex items-center justify-center">
        <canvas id="growthChart"></canvas>
      </div>
    </div>
  </div>
</div>
