  <!-- NAVBAR -->
  <nav
    class="fixed top-0 left-0 right-0 z-50 bg-black/80 backdrop-blur-md border-b border-white/10"
  >
    <div class="max-w-7xl mx-auto px-5 md:px-8 h-20 flex items-center justify-between">
      <!-- LOGO + RESTAURANT NAME -->
      <a href="#home" class="flex items-center gap-3">
        <img
          src="Anand.jpg"
          alt="Anand Family Restaurant"
          class="w-12 h-12 rounded-full object-cover border-2 border-[#d9ad5b]"
        />

        <div class="hidden sm:block">
          <h1 class="text-white font-bold text-lg leading-tight">Anand Family</h1>

          <p class="text-[#d9ad5b] text-xs tracking-widest uppercase">Restaurant</p>
        </div>
      </a>

      <!-- DESKTOP MENU -->
      <div class="hidden md:flex items-center gap-8">
        <a routerLink="/home" class="text-white hover:text-[#d9ad5b] transition duration-300"> Home </a>

        <a routerLink="about" class="text-white hover:text-[#d9ad5b] transition duration-300"> About </a>

        <a routerLink="menu" class="text-white hover:text-[#d9ad5b] transition duration-300"> Menu </a>

        <a routerLink="contact" class="text-white hover:text-[#d9ad5b] transition duration-300">
          Contact
        </a>
        <a
        routerLink="/admin"
        class="ml-3 px-4 py-2 rounded-full border border-[#d9ad5b] text-[#d9ad5b] text-sm hover:bg-[#d9ad5b] hover:text-black transition"
      >
        Admin Login
      </a>
        <a
          routerLink="tel:+917440787808"
          class="px-5 py-2.5 rounded-full bg-[#d9ad5b] text-black font-semibold hover:bg-[#edc979] transition"
        >
          Call Now
        </a>
        
      </div>

      <!-- MOBILE BUTTON -->
      <button
        type="button"
        class="md:hidden text-white text-3xl"
        (click)="isMenuOpen = !isMenuOpen"
      >
        ☰
      </button>
    </div>

    <!-- MOBILE MENU -->
    <div *ngIf="isMenuOpen" class="md:hidden bg-[#17130f] border-t border-white/10">
      <div class="px-6 py-5 space-y-4">
        <a routerLink="/home" (click)="isMenuOpen = false" class="block text-white hover:text-[#d9ad5b]">
          Home
        </a>

        <a routerLink="#about" (click)="isMenuOpen = false" class="block text-white hover:text-[#d9ad5b]">
          About
        </a>

        <a routerLink="/menu" (click)="isMenuOpen = false" class="block text-white hover:text-[#d9ad5b]">
          Menu
        </a>

        <a
          routerLink="#contact"
          (click)="isMenuOpen = false"
          class="block text-white hover:text-[#d9ad5b]"
        >
          Contact
        </a>

        <a
        routerLink="/admin"
        class="ml-3 px-4 py-2 rounded-full border border-[#d9ad5b] text-[#d9ad5b] text-sm hover:bg-[#d9ad5b] hover:text-black transition"
      >
        Admin Login
      </a>

        <a
          routerLink="tel:+917440787808"
          class="inline-block px-5 py-2.5 rounded-full bg-[#d9ad5b] text-black font-semibold"
        >
          Call Now
        </a>
      </div>
    </div>
  </nav>